<meta name="categories" content="">
<div layout="column" class="partial">
    <enable-section-header picpath="conventions.jpg" picalt="Banner image description comes here" title="Mapatano na maazimio"></enable-section-header>

    <div layout-padding layout="column" class="partialContent">

        <h2>Mapatano na maazimio muhimu </h2>

        <p>Takribani nchi zote (ikiwa ni pamoja na Uganda, Kenya na Tanzania) zimekubaliana na kusaini mapatano na maazimio yafuatayo.
           Kwa hiyo basi, inaweza kuwa ni jambo lenye maslahi kwa wanafunzi, walimu, watu wanaofanyakazi
           pamoja na au watu wenye ulemavu wa mfumo wa fahamu wenyewe ili kujua zaidi kuhusu maelezo ya ziada ya hali halisi kwa ajili ya watu wenye ulemavu leo hii. </p>
        <h4>Haki za binadamu </h4>
        <p>Tamko la Ulimwengu la Haki za Binadamu ni waraka muhimu wa kihistoria katika haki za binadamu. Wawakilishi walio na usuli tofauti wa kisheria na
          kitamaduni kutoka maeneo yote ulimwenguni waliandaa rasimu ya Tamko lililotangazwa mwaka 1948. Kwa mara ya kwanza, haki za msingi za binadamu zililindwa kimataifa.</p>
        <nav class="level03-toc">

                    <a href="" ng-click="gotoAnchor('s1')"><h5>Tamko la Ulimwengu la Haki za Binadamu (1948)</h5></a>
            </nav>
             <h4>Haki kwa ajili ya watu wenye ulemavu</h4>
              <p>Kumekuwepo jitihada kadhaa ulimwenguni na katika mabara kuhusu namna ya kutetea haki ya watu wenye ulemavu. Mwaka wa Kimataifa wa
                 Watu wenye Ulemavu (IYDP) mwaka 1981 ilikuwa ndiyo mwanzo wa haki za watu wenye ulemavu. Mwaka wa Kimataifa wa Watu wenye Ulemavu
                  ulitaka kuwepo kwa mpango wa utekelezaji katika ngazi za kitaifa, kikanda na kimataifa, wenye msisitizo kuhusu usawa wa fursa,
                   marekebisho na kuzuia ulemavu. Kutoka hapo, nyaraka kadhaa muhimu zinazoendeleza haki za watu wenye ulemavu zimeandikwa. </p>
        <nav class="level03-toc">
        <ul><li><a href="" ng-click="gotoAnchor('s2')"><h5>Kanuni za Viwango vya Umoja wa Mataifa kuhusu Usawa wa Fursa kwa ajili ya Watu wenye Ulamavu (1993)</h5></a>
                </li>
                <li>
                    <a href="" ng-click="gotoAnchor('s3')"><h5>Mkataba wa Umoja wa Mataifa wa Haki za Watoto (1989)</h5></a>
                </li>
            </ul>
            </nav>

            <h4>Elimu bora ya msingi kwa wote</h4>
                    <p>Vuguvugu la Elimu kwa Wote ni dhamira ya kimataifa ya kutoa elimu ya msingi iliyo bora kwa watoto, vijana na watu wazima wote. Vuguvugu hilo lilianzishwa katika Mkutano
                      wa Ulimwengu wa Elimu kwa Wote mwaka 1990 na UNESCO, UNDP, UNICEF na Benki ya Dunia. Washiriki walipitisha
                      'maono ya nyongeza ya elimu' na kuahidi kuifanya elimu ya msingi kuwa ni ya wote na kwa kiwango kikubwa kupunguza kutojua kusoma hadi mwisho wa kipindi cha miaka kumi.</p>
                <nav class="level03-toc"><ul><li><a href="" ng-click="gotoAnchor('s4')"><h5>Azimio la Ulimwengu la Elimu kwa Wote (1990)</h5></a>
                </li>
                <li>
                    <a href="" ng-click="gotoAnchor('s5')"><h5>Elimu kwa Wote (2000)</h5></a>
                </li>
                <li>
                    <a href="" ng-click="gotoAnchor('s6')"><h5>Elimu baada ya mwaka 2015</h5></a>
                </li>
            </ul>
        </nav>
        <br>

        <div id="s1" class="level03">
        <h4>Tamko la Ulimwengu la Haki za Binadamu </h4>
            <p>Tamko la Ulimwengu la Haki za Binadamu linasisitiza haki za binadamu na kupinga ubaguzi miongoni mwa watu. <br>Ibara ya 26 inasema:
                <enable-grey-box e-type="quote">Kila mtu ana haki ya elimu... Elimu inapaswa kuelekezwa katika kuendeleza kwa ukamilifu haiba ya binadamu
                  na kuimarisha heshima ya haki za binadamu na uhuru wa msingi. </enable-grey-box>
            <p>Kwa hiyo, kama walivyo watu wengine watu wenye ulemavu wana haki sawa mbele ya sheria. Haki hizo ni: </p>
        <ul>
            <li>Elimu</li>
            <li>Uhai</li>
            <li>kutambuliwa</li>
            <li>uhuru wa kutoa maoni na kujieleza</li>
            <li>kuoa/kuolewa</li>
            <li>kumiliki mali</li>
            <li>kufanyakazi.</li>
        </ul>
            <p>Pakua kutoka kwenye intaneti:<enable-link href="http://www.un.org/en/documents/udhr/">Tamko la Ulimwengu la Haki za Binadamu.</enable-link>
            <p>Pakua kutoka kwenye seva:</p>
            <enable-file-link href="humanrights.pdf">Tamko la Ulimwengu la Haki za Binadamu.</enable-file-link>
            <p>Haki hizi zimetangazwa kimataifa. Katika kila nchi kunapaswa kuwa na sera zinazotekeleza haki hizi za binadamu kuwa ni desturi za kisheria. Katiba zote nchini Kenya, Tanzania na
               Uganda zimesisitiza haki za watu wenye ulemavu. Zaidi ya hayo, kuna sera na sheria zinazoshughulikia suala la watu wenye ulemavu. </p> <br>
        <p>Kwa mfano nchini Tanzania, kuna sera ya taifa ya ulemavu ya mwaka 2004. (Pakua
            <enable-link href="http://www.tanzania.go.tz/egov_uploads/documents/NATIONAL_POLICY_ON_DISABILITY_sw.pdf">PDF</enable-link>
            Jambo hili pia limefanyika nchini Uganda (Pakua  <enable-link href="http://www.ilo.org/wcmsp5/groups/public/@ed_emp/@ifp_skills/documents/publication/wcms_115099.pdf">PDF</enable-link>
            na Kenya (Pakua  <enable-link href="http://www.ilo.org/wcmsp5/groups/public/@ed_emp/@ifp_skills/documents/publication/wcms_115097.pdf">PDF</enable-link></p>
        </div>
        <div id="s2" class="level03">
            <h4>Kanuni za Viwango vya Umoja wa Mataifa kuhusu Usawa wa Fursa kwa ajili ya Watu wenye Ulemavu.  </h4>
        <enable-quotebox e-type="quote">Kanuni zenye Viwango zinawakilisha dhamira ya dhati ya kisiasa na kimaadili ya Serikali ili kuchukua hatua ya kufikia usawa wa fursa kwa watu wenye ulemavu. </enable-quotebox>
        <p>Kanuni ya 22 kutoka 1993 zinalenga <strong>"Masharti ya Awali kwa ajili ya Ushiriki ulio Sawa"</strong>,
          <strong>"Maeneo Lengwa kwa ajili ya Ushiriki Ulio Sawa "</strong> na <strong>"Hatua za Utekelezaji"</strong>.</p>
        <p>Inatumika kama waraka/hati kwa ajili ya kutengeneza sera na kama msingi wa ushirikiano wa kiufundi na kiuchumi.
          <br>Katika muktadha huu maeneo lengwa kwa ajili ya ushiriki ulio sawa unapaswa kupewa hamasa mpya. Maeneo hayo ni:</p>
        <ul>
            <li>Upatikanaji</li>
            <li>Elimu</li>
            <li>Ajira</li>
            <li>Kuendeleza kipato na Hifadhi ya jamii</li>
            <li>Maisha ya familia na Uadilifu wa mtu binafsi</li>
            <li>Utamaduni</li>
            <li>Burudani na Michezo</li>
            <li>Dini</li>
        </ul>

        <enable-read-more label="Zaidi kuhusu maeneo lengwa nane kwa ajili ya ushiriki ulio sawa">
            <ul>
                <li><strong>Kanuni ya 5. Upatikanaji</strong><br>
                    Nchi ni lazima kutambua umuhimu wa jumla wa upatikanaji katika mchakato wa uletaji wa fursa sawa katika maeneo yote ya jamii.
                     Kwa watu wenye ulemavu wa aina yoyote, Nchi ni lazima (a) zianzishe programu za utekelezaji
                     ili kuyafanya mazingira ya kimaumbile kufikika; na (b) kuchukua hatua za kufanya upatikanaji wa habari/taarifa na mawasiliano.</li>
                <li><strong>Kanuni ya 6. Elimu</strong><br>Nchi ni lazima kutambua kanuni ya fursa sawa ya elimu ya msingi, sekondari na chuo kwa ajili
                  ya watoto, vijana na watu wazima wenye ulemavu, katika muktadha wa mchanganyiko. Wanapaswa kuhakikisha kwamba elimu ya watu wenye ulemavu ni sehemu muhimu ya mfumo wa elimu.</li>
                <li><strong>Kanuni ya 7. Ajira</strong><br>Nchi ni lazima zitambue kanuni kwamba watu wenye ulemavu ni lazima kuwezeshwa ili kupata haki zao, hususan  katika eneo la ajira.
                   Katika sehemu za vijijini na mijini ni lazima wapewe fursa sawa kwa ajili ya ajira ya uzalishaji na kipato katika soko la ajira. </li>
                <li><strong>Kanuni ya 8. Kudumisha kipato na hifadhi ya jamii</strong>
                  <br>Nchi zinawajibika kutoa hifadhi ya jamii na kudumisha kipato cha watu wenye ulemavu.</li>
                <li><strong>Kanuni ya 9. Maisha ya familia na uadilifu wa mtu binafsi</strong><br>Nchi zinapaswa kuencdeleza ushiriki kamili wa watu
                   wenye ulemavu katika maisha ya familia. Zinapaswa kuendeleza haki zao za uadilifu wa mtu
                  binafsi na kuhakikisha kwamba sheria hazibagui dhidi ya watu wenye ulemavu kwa kuheshimu mahusiano ya kingono, ndoa na uzazi.</li>
                <li><strong>Kanuni ya 10. Utamaduni </strong><br>Nchi zitahakikisha kwamba watu wenye ulemavu
                   wanajumuishwa na kushirikishwa katika shughuli za kitamaduni kwa misingi ya usawa.</li>
                <li><strong>Kanuni ya 11. Burudani na michezo</strong><br>Nchi zitachukua
                  hatua ili kuhakikisha kwamba watu wenye ulemavu wana fursa sawa katika burudani na michezo. </li>
                <li><strong>Kanuni ya 12. Dini</strong>
                  <br>Nchi zitahimiza hatua kwa ajili ya ushiriki ulio sawa wa watu wenye ulemavu katika shughuli za kidini za jamii zao.</li>
            </ul></enable-read-more>
            <p>Pakua kutoka kwenye intaneti<enable-link href="http://www.un.org/esa/socdev/enable/dissre00.htm"> Kanuni za Viwango za Umoja wa Mataifa </enable-link></p>
            <p>Pakua kutoka kwenye seva:</p>
            <enable-file-link href="standardrules.pdf">Kanuni za Viwango za Umoja wa Mataifa</enable-file-link>
        </div>
        <div id="s3" class="level03">
        <h4>Mkataba wa Umoja wa Mataifa wa Haki za Mtoto</h4>
        <div layout="row" layout-margin>
            <div style="width: 40%"><enable-image picname="barnekonvensjon.jpg" picalt="Barnekonvensjonen"></div>
            <div style="width: 5%"></div>
            <div style="width: 55%"><p>Mkataba wa Haki za Mtoto (1990) unakumbusha Tamko la Ulimwengu la Haki za Binadamu ambapo ilitangazwa
              na kukubaliwa kwamba kila mtu anastahili kupewa haki zote na uhuru wote ulioko kwenye hati hizo, bila ya ubaguzi wa aina yoyote,
               kama vile asili, mbari, rangi,
               jinsi, lugha, dini, maoni ya kisiasa au mengineyo, asili ya kitaifa au kijamii, mali, kuzaliwa au hali nyingine yoyote.</p>
            </div>
        </div>
        <p>Mkataba unasisitiza familia kuwa ndiyo kitengo muhimu sana kwa ajili ya mtoto. Mtoto anapaswa kukua katika mazingira
           ya familia, katika hali ya furaha, upendo na maelewano. Inatamkwa pia kwamba mahitaji ya nchi zinazo endeleya yazingatiwe.
          <br>Mkataba huu una ibara 54 zilizogawanyika katika sehemu tatu. Ibara ya 23, hususan, inawalenga watoto wenye ulemavu na haki zao.
          <br>Mataifa yaliyoridhia mkataba huo yamedhamiria:</p>
        <enable-grey-box e-type="quote">kutambua kwamba mtoto mwenye ulemavu wa akili au mwili anapaswa kufurahia maisha kamili,
          stahifu na mazuri, katika
           hali zitakazotoa uhakikisho wa heshima, kuendeleza moyo wa kujitegemea, na kuwezesha ushiriki kamili wa mtoto katika jamii. </enable-grey-box>
        <br>
        <p>Msaada kwa watoto wenye ulemavu unapaswa:</p>
        <enable-grey-box e-type="quote">kuandaliwa kwa namna ambayo itahakikisha kwamba mtoto mwenye ulemavu anapata na kupokea elimu kwa njia inayostahili,
           mafunzo, huduma za matunzo ya afya, huduma za urekebishaji, maandalizi ya ajira na fursa za ajira
           na burudani katika namna ambayo inafaa kwa mtoto ili kufikia
          mafungamano ndani ya jamii yaliyokamili na maendeleo binafsi, ikiwa ni pamoja na maendeleo yake ya kitamaduni na kiroho. </enable-grey-box>

        <p>Pakua kutoka kwenye intaneti:</p><enable-link href="http://www.unicef.org.uk/Documents/Publication-pdfs/UNCRC_PRESS200910web.pdf">Mkataba wa Umoja wa Mataifa wa Haki za Mtoto</enable-link>
            <p>Pakua kutoka kwenye seva.</p>
            <enable-file-link href="childsrights.pdf">Mkataba wa Umoja wa Mataifa wa Haki za Mtoto</enable-file-link>
        </div>
        <h3>Elimu bora ya msingi kwa wote </h3>
        <p>Vuguvugu la Elimu kwa Wote ni dhamira ya kimataifa ya kutoa elimu ya msingi iliyo bora kwa watoto, vijana na watu wazima
          wote. Vuguvugu hilo lilianzishwa katika Mkutano wa Ulimwengu wa Elimu kwa Wote mwaka 1990 na UNESCO, UNDP, UNICEF na Benki
           ya Dunia. Washiriki walipitisha 'maono ya nyongeza ya elimu' na kuahidi kui
          fanya elimu ya msingi kuwa ni ya wote na kwa kiwango kikubwa kupunguza kutojua kusoma hadi mwisho wa kipindi cha miaka kumi.</p>
        <div id="s4" class="level03">
        <h4>Azimio la Ulimwengu la Elimu kwa Wote </h4>
        <p>Washiriki katika Mkutano wa Ulimwengu wa Elimu kwa Wote:</p>
        <ul><li>Wamekumbusha kwamba elimu ni haki ya msingi kwa watu wote bila ya kujali, jinsi, umri, au wapi wanapoishi. </li>
            <li>Wameelewa kwamba elimu inaweza kusaidia kuwa na ulimwengu ulio salama, wenye afya, wenye kuneemeka na rafiki kwa mazingira</li>
            <li>Wametambua kwamba elimu ni ufunguo wa lazima, ingawa sio sharti la kutosheleza kwa ajili ya kuboresha maisha ya binafsi na ya kijamii. </li>
            <li>Kutambua kwamba maarifa yaliyopokelewa tangu enzi na urithi wa jadi wa kitamaduni vina thamani na uhalali katika mastahili yao na uwezo wao na uwezo wa kufasili na kuleta maendeleo. </li>
            <li>Kutambua kwamba elimu ya msingi iliyothabiti ni muhimu kwa uimarishaji wa viwango vya elimu ya juu na uwezo wa kisayansi na kiteknolojia. </li>
            <li>Kutambua haja ya kutoa maono yaliyopanuliwa kwa vizazi vya sasa na vijavyo na dhamira iliyohuishwa katika elimu ya msingi. </li>
        </ul>
        <enable-read-more label="Soma ibara kumi zilizoko kwenye azimio. ">
            <p>Azimio linahusu ibara kumi. </p>
            <ol><li><strong>Kukidhi mahitaji ya msingi.</strong><br>Kila mtu – mtoto, kijana na mtu mzima  -
               ataweza kunufaika kutokana na fursa za kielimu zilizokusudiwa kukidhi mahitaji yao ya elimu ya msingi. </li>
                <li><strong>Kutengeneza maono.</strong><br>Ili kutimiza mahitaji ya msingi ya elimu kwa wote, hutakiwa zaidi ya dhamira ambayo ni
                  mpya katika elimu kama ilivyokuweko. Kinachohitajika ni "maono mapana" ambayo ni zaidi ya viwango vya sasa vya rasilimali,
                   mifumo ya kitaasisi, mitaala, na namna za ufundishaji zilizozoeleka. Wakati huohuo, yanahitajika maboresho zaidi kwenye desturi zilizoko.
                    </li>
                <li><strong>Kuufanya upatikanaji kuwa kwa wote na kuendeleza usawa </strong><br>Elimu ya msingi ni lazima itolewe kwa watoto, vijana na
                    watu wazima wote.</li>
                <li><strong>Kutilia mkazo ijifunzaji</strong><br>Kufanikiwa kwa fursa za elimu zilizoengezwa, ili kuweza kuwa na manufaa au la,
                    hatimaye kutategemea endapo
                    watu watapata elimu kama matokeo ya fursa hizo itawapatia maarifa, uwezo wa kufikiri, stadi na maadili</li>
                <li><strong>Kutanua nyenzo na wigo wa elimu ya msingi </strong><br>Utofauti, ugumu, na asili ya
                   kubadilika ya mahitaji ya msingi
                   ya elimu kwa watoto, vijana na watu wazima hulazimisha kupanua na kufafanua upya mara kwa mara wigo wa elimu ya msingi.</li>
                <li><strong>Kuimarisha mazingira ya ujifunzaji</strong><br> Elimu haitolewi katika hali ya kujitenga. Jamii,
                  kwa hiyo, zinalazimika kuhakikisha kwamba wanafunzi wote wanapata lishe, matunzo ya afya, na msaada wa jumla
                    wa kimwili na kihisia wanaouhitaji ili kushiriki kikamilifu katika na kunufaika na ujifunzaji wao.</li>
                <li><strong>Kuimarisha ushirikiano.</strong><br>Mamlaka za elimu za kitaifa, kieneo na kijamii zina wajibu wa pekee wa kutoa
                  elimu ya msingi kwa wote, lakini hawatarajiwi kutoa mahitaji ya kibinadamu,
                  kifedha au kitaasisi kwa ajili ya shughuli hii. Ushirikiano mpya na uliohuishwa kwa ngazi zote utakuwa ni wa lazima. </li>
                <li><strong>Endeleza muktadha wa sera unaosaidia </strong><br>Sera saidizi katika sekta za kijamii, kitamaduni, na kiuchumi zinatakiwa
                  ili kusudi kutambua utoaji na matumizi kamili ya elimu ya msingi kwa ajili ya kuboresha maisha ya mtu binafsi na jamii. </li>
                <li><strong>Kuhamasisha rasilimali</strong><br>Iwapo mahitaji ya msingi ya elimu kwa wote yatatimizwa kwa njia ya wigo
                  mpana zaidi wa utekelezaji kuliko ilivyokuwa miaka iliyopita,
                   itakuwa ni muhimu kuhamasisha rasilimali zilizoko na mpya za kifedha na kibinadamu, za umma, binafsi na za kujitolea. </li>
                <li><strong>Kuimarisha  mshikamano wa kimataifa</strong><br>Kukidhi mahitaji ya elimu ambayo ni ya msingi kunasababisha kuwepo
                   kwa uwajibikaji wa pamoja. Kunataka
                   kuwepo kwa mshikamano wa kimataifa na mahusiano ya kiuchumi yaliyosawa ili kusudi kuondoa tofauti za kiuchumi zilizoko.</li>
            </ol>
        </enable-read-more>
        <p>Pakua kutoka kwenye intaneti</p><enable-link href="http://unesdoc.unesco.org/images/0012/001275/127583e.pdf">Azimio la Ulimwengu la Elimu kwa Wote</enable-link>
            <p>Pakua kutoka kwenye seva:</p>
            <enable-file-link href="worlddeclaration.pdf">Azimio la Ulimwengu la Elimu kwa Wote</enable-file-link>
        </div>
        <div id="s5" class="level03">
            <h4>Elimu kwa Wote (2000)</h4>
        <div layout="row" layout-margin>
            <div style="width: 30%"><enable-image picname="EFA.jpg" picalt="Education for All"></div>
            <div style="width: 5%"></div>
            <div style="width: 65%"><p>Nchi zote tatu za Uganda, Kenya, na Tanzania zimetia saini tangazo la "Mwongozo wa Utekelezaji wa Dakar wa Elimu kwa Wote" ambapo malengo
               sita ya elimu yamekubaliwa kimataifa yakilenga kukidhi mahitaji ya elimu kwa watoto, vijana, na watu wazima wote hadi ifikapo mwaka 2015.</p>
                <p>Lengo la 2 (kati ya 6) katika mwongozo huu linasema kuwa watoto wenye mahitaji maalumu na vikundi vingine vilivyosahaulika, wanapaswa kupewa fursa ya kumaliza elimu ya msingi yenye ubora.
                  <br>Maoni kwa mujibu wa lengo la pili yanasema:<br> "Mifumo ya elimu ni lazima iwe jumuishi,
                  ikiwalenga watoto wasiosajiliwa, na kuitikia kwa namna ya unyumbulifu kwenye mazingira na mahitaji ya wanafunzi wote."</p>
            </div>
        </div>
        <enable-read-more label="Malengo sita ya Elimu kwa Wote ">
            <ul>
                <li><strong>Lengo 1</strong><br>Kupanua na kuboresha matunzo ya awali ya mtoto yaliyokamili na elimu, hususan kwa ajili ya watoto wanaoishi katika mazingira hatarishi na waliokosa fursa.</li>
                <li><strong>Lengo 2</strong><br>Kuhakikisha kwamba hadi kufikia mwaka 2015 watoto wote, hususan wasichana, watoto waliokuwa kwenye mazingira magumu, na wale waliokuwa katika makabila yaliyokuwa
                   yenye idadi ndogo ya watu, kupata, na kukamilisha, elimu ya msingi yenye ubora isiyokuwa na gharama na ya lazima.</li>
                <li><strong>Lengo 3</strong><br>Kuhakikisha kwamba mahitaji ya elimu kwa vijana na watu wazima yanatimizwa kwa njia ya upatikanaji wenye usawa katika elimu inayofaa na programu za stadi za maisha.</li>
                <li><strong>Lengo 4</strong><br>Kufikia uboreshaji kwa asilimia 50 katika ngazi za elimu ya watu wazima hadi ifikapo mwaka 2015, hususan kwa wanawake, na upatikanaji ulio sawa katika elimu ya msingi na isiyokoma kwa watu wazima wote.</li>
                <li><strong>Lengo 5</strong><br>Kuondoa tofauti za kijinsia katika elimu ya msingi na sekondari hadi ifikapo mwaka 2005, na kufikia usawa wa kijinsia katika elimu hadi ifikapo 2015,
                   kwa kulenga kuhakikisha upatikanaji kamili na wenye usawa katika na kufanikiwa katika elimu ya msingi iliyokuwa na ubora. </li>
                <li><strong>Lengo 6</strong><br>Kuboresha vipengele vyote vya ubora wa elimu na kuhakikisha ubora wa vyote ili kusudi matokeo
                   ya elimu yanayotambulika na yanayopimika yanafikiwa na wote, hususan katika kusoma, kuhesabu na stadi za maisha zilizo za muhimu. </li>
            </ul></enable-read-more>
        <p>Pakua kutoka kwenye intaneti:</p><enable-link href="http://unesdoc.unesco.org/images/0012/001211/121147e.pdf">Mwongozo wa Dakar kwa ajili ya Utekelezaji </enable-link>
            <p>Pakua kutoka kwenye seva.</p>
            <enable-file-link href="dakar.pdf">Mwongozo wa Dakar kwa ajili ya Utekelezaji</enable-file-link>
            <enable-grey-box>
            <h4>Cheza mchezo kwenye mtandao kutoka UNESCO</h4><strong><enable-link href="http://www.uis.unesco.org/Education/Pages/mind-the-gap.aspx">"Jali Pengo".</strong></enable-link>
            <p>Fananisha hali ya elimu iliyo nchini mwako na ile ya nchi nyinginezo. Kwa njia ya shughuli za elimu katika michezo utaelewa kwamba watoto
               wote wana haki katika elimu na kuchunguza kwa nini mamilioni ya watoto wako nje ya mfumo wa shule.</p></enable-grey-box>
             <div id="s6" class="level03">
            <h3>Elimu baada ya mwaka 2015</h3>
        <p>Kwa kuwa mwaka 2015 ni wa mwisho wa kutimiza malengo sita ya elimu yaliyokubalika kimataifa katika Elimu kwa Wote
            (EFA) na Malengo ya Mendeleo ya Millenia (MDGs)
           umefikia tamati,kungali kunahitajika ufafanuzi wa maono, maumbo na mawanda ya malengo ya elimu baada ya mwaka 2015. </p></div>
        <ul><li>
        <p>UNESCO na UNICEF wana kipeperushi kinachojihusisha na maono na kanuni ya ajenda ya elimu baada ya mwaka 2015. Soma kipeperushi
           <enable-link href="http://www.unesco.org/new/fileadmin/MULTIMEDIA/HQ/ED/ED_new/Beyond2015_UNESCO-UNICEF-Flyer.pdf">
               Kupita mwaka 2015: Elimu Tunayoitaka</enable-link></p>
</li>
<li>
<p>UNESCO na UNICEF kwa pamoja na washirika wengine wameweka maono mapya kwa ajili ya elimu kwa kipindi kingine cha miaka 15. Soma
   <enable-link href="http://www.unesco.org/new/fileadmin/MULTIMEDIA/HQ/ED/ED/pdf/FinalVersion-IncheonDeclaration.pdf">
       Elimu 2030: Kuelekea elimu bora ambayo ni jumuishi na yenye usawa na kujifunza ni mchakato wa maisha kwa wote.</enable-link></p>
</li>
<li><p>Kwa mujibu wa UNESCO kuna tafakari na midahalo inayoendelea kuhusu elimu ya siku za baadaye. Soma zaidi kuhusu
   <enable-link href="http://en.unesco.org/post2015/">Mchango wa UNESCO </enable-link></p></li>
            </ul>
        </div>

    </div>
    <div ng-include src="'templates/footer-template.html'"></div>

</div>
